* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

#app-container {
    display: flex;
    flex-direction: row; 
    height: 100vh; 
    padding: 10px; 
    overflow: hidden; /* Prevent horizontal scrolling */
}

.left-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    height: 100%;
    overflow: hidden;
}

.right-section {
    flex: 1; /* Adjust space on the right */
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* Avoid scrolling */
}

.header-dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.input-container {
    flex-shrink: 0; /* Prevent shrinking of the input container */
    margin-bottom: 10px;
}

#db-name-header {
    text-align: left;
    font-size: 20px;
}

#db-dropdown {
    width: 200px;
}

#query-input {
    width: 100%;
}

#submit-btn {
    width: 100%;
}

#node-table-placeholder {
    border: 1px solid #ddd;
    padding: 5px;
}

#error-div {
    color: red;
    text-align: center;
}

.tree-table-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row; /* Arrange the tree and table side by side */
    overflow: hidden; /* Prevent overflow */
}

#cytoscape-tree {
    flex: 2; /* Adjust the width ratio of the tree */
    height: 100%;
    width: 100%;
}

#node-table-placeholder {
    flex: 1; /* Adjust the width ratio of the table */
    height: 100%;
    overflow-y: auto; /* Allow vertical scrolling inside the table */
    border: 1px solid #ddd;
    padding: 5px;
}


.right-section div {
    margin-bottom: 10px;
    overflow-y: auto; /* Scroll vertically within the right section if content exceeds height */
}
