* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    width: 100%;
}


#app-container {
    display: grid;
    grid-template-columns: 4fr 1fr; 
    gap: 10px;
    height: 100vh; 
    padding: 15px; 
}


.left-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden; /* Prevent overflow */
}


.tree-table-container {
    display: flex;
    flex-grow: 1; 
    gap: 10px; /* Space between tree and table */
    width: 100%;
    height: 100%;
}


#cytoscape-tree {
    flex-basis: 66.66%;
    height: 100% !important;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}


#node-table-placeholder {
    flex-basis: 33.33%; 
    height: 100%;
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
    font-size: 14px;
    overflow-y: auto;
}


.right-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}


.header-dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


#db-name-header {
    text-align: left;
    font-size: 24px;
}


#db-dropdown {
    width: 200px; 
    text-align: center;
}


#documentation-placeholder {
    text-align: left;
    font-size: 18px;
    font-style: italic;
    padding: 5px;
}


#query-input {
    width: 100%;
    height: 150px;
    margin: 10px 0;
}


#submit-btn {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}


#schema-info {
    width: 100%;
    border: 1px solid #ddd;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}


#error-div {
    color: red;
    margin-top: 10px;
    text-align: center;
}